

### Tipe Data dalam Python

In [9]:
print(type(5.0))
print(type(5))
print(type(True)) #Boolean
print(type('Kemal')) #Sting

<class 'float'>
<class 'int'>
<class 'bool'>
<class 'str'>

In [16]:
# contoh tipe data majemuk
(1,5,'kemal',3.6, True)
{'nama':'kemal','usia':18}

{'nama': 'kemal', 'usia': 18}

In [20]:
print(type((1,5,"kemal",3.6, True)))
print (type({'nama':'kemal','usia':18}))

<class 'tuple'>
<class 'dict'>

## Variabel

In [22]:
x = 5
print(x)

5

In [23]:
x + 4

9

In [24]:
y = 7
x + y

12

In [27]:
x = 2
x + y

9

In [28]:
type(x)

int

In [30]:
nama,usia='afif',18
print(nama)
print(usia)

afif
18

## String

In [31]:
my_string='kemal sultan'
my_stirng_2='Mohammad'
type(my_string)

str

In [32]:
quote='"with great power comes great responsibility"'
print(quote)

"with great power comes great responsibility"

In [33]:
len(quote)

45

In [36]:
quote.upper()

'"WITH GREAT POWER COMES GREAT RESPONSIBILITY"'

In [37]:
quote=quote.upper()

In [38]:
quote

'"WITH GREAT POWER COMES GREAT RESPONSIBILITY"'

In [39]:
'kemal'.capitalize()

'Kemal'

## String Formating

In [40]:
nama='budi'
usia=29

print(f'nama saya {nama} dan usia saya {usia} tahun') # f- String formating

nama saya budi dan usia saya 29 tahun

### indexing & slicing

In [43]:
nama='hacktiv8'
nama[7]

'8'

In [44]:
nama[-2]

'v'

In [49]:
#slicing
boothcamp = "HACKTIV8"

In [54]:
boothcamp[2:6:1]

'CKTI'

In [53]:
boothcamp[2:]

'CKTIV8'

In [55]:
boothcamp[::-1]

'8VITKCAH'

### Operasi

In [60]:
print(5+6)
print(5-6)
print(5/6) # pembagian
print(5//2) #pembagian integer
print(5*6) #perkalian
print(5%2) #sisa bagi
print(5**2) #pangkat

11
-1
0.8333333333333334
2
30
1
25

In [63]:
nama_depan= 'kemal'
nama_belakang= 'sultan'

print(nama_depan + nama_belakang) # concatenation ( hanya di gabungkan huruf dengan huruf/tulisan)
print(nama_depan * 5)

kemalsultan
kemalkemalkemalkemalkemal

In [69]:
# Operasi perbandingan
print(5==3) # sama dengan
print(5 != 3) #tidak sama dengan
print(5<5) # lebih kecil dari
print(5<=5) #lebih kecil sama dengan dari
print(5>5) #lebih besar dari

False
True
False
True
False

In [65]:
a=7 # assignment
a==7# sama dengan

True

In [70]:
# Operasi logika
True and True

True

In [71]:
True or False

True

In [77]:
False and True
True or False and True

True

In [78]:
2 < 5 and 4 < 6

True

In [79]:
# Operasi Keanggotaan

nama='afif'
'i' in nama

True

In [80]:
buahbuahan = ('pepaya','mangga','pisang','jambu')
'mangga' in buahbuahan

True

### Tipe Data Majemuk

In [81]:
my_tuple =(4,2,'hacktiv8',5.4, True,(1,2,3))

In [82]:
my_tuple[5]

(1, 2, 3)

In [85]:
my_tuple[2][2:6]

'ckti'

In [86]:
my_tuple[0]

4

In [87]:
my_tuple[2:5]

('hacktiv8', 5.4, True)

In [88]:
len(my_tuple)

6

In [89]:
my_list =[4,2,'hacktiv8',5.4, True,(1,2,3)]

In [91]:
my_list [2:5]

['hacktiv8', 5.4, True]

In [92]:
my_list[2]='kemal' #mengubah tulisan atau keterangan

In [93]:
my_list

[4, 2, 'kemal', 5.4, True, (1, 2, 3)]

In [94]:
#menambah data di belakang

my_list.append('Hacktiv8')

In [95]:
my_list

[4, 2, 'kemal', 5.4, True, (1, 2, 3), 'Hacktiv8']

In [96]:
my_list.insert(2, 46)

In [97]:
my_list

[4, 2, 46, 'kemal', 5.4, True, (1, 2, 3), 'Hacktiv8']

In [98]:
# Menghapus dari Nilai
my_list.remove('kemal')

In [99]:
my_list

[4, 2, 46, 5.4, True, (1, 2, 3), 'Hacktiv8']

In [100]:
# Hapus dari Index
del my_list[2]

In [101]:
my_list

[4, 2, 5.4, True, (1, 2, 3), 'Hacktiv8']

In [102]:
# Dictionary (data Muteble)

biodata = {'nama': 'afif', 'usia':19}

In [104]:
biodata ['usia']

19

In [105]:
biodata.keys()

dict_keys(['nama', 'usia'])

In [106]:
biodata.values()

dict_values(['afif', 19])

In [107]:
biodata['usia']=20

In [108]:
biodata

{'nama': 'afif', 'usia': 20}

In [109]:
biodata['pekerjaan']='data scientist'

In [110]:
biodata

{'nama': 'afif', 'usia': 20, 'pekerjaan': 'data scientist'}

In [111]:
del biodata ['usia']

In [112]:
biodata

{'nama': 'afif', 'pekerjaan': 'data scientist'}